altgraph==0.17.3
attrs==21.2.0
auto-py-to-exe==2.26.0
Automat==20.2.0
Babel==2.8.0
bcrypt==3.2.0
blinker==1.4
bottle==0.12.23
bottle-websocket==0.2.9
certifi==2020.6.20
chardet==4.0.0
click==8.0.3
cloud-init==22.2
colorama==0.4.4
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
contourpy==1.0.6
cowsay==5.0
cryptography==3.4.8
cycler==0.11.0
dbus-python==1.2.18
distro==1.7.0
distro-info===1.1build1
Eel==0.14.0
exceptiongroup==1.0.4
fonttools==4.38.0
future==0.18.2
gevent==22.10.2
gevent-websocket==0.10.1
greenlet==2.0.1
gyp==0.1
httplib2==0.20.2
hyperlink==21.0.0
idna==3.3
importlib-metadata==4.6.4
incremental==21.3.0
iniconfig==1.1.1
jeepney==0.7.1
Jinja2==3.0.3
jsonpatch==1.32
jsonpointer==2.0
jsonschema==3.2.0
keyring==23.5.0
kiwisolver==1.4.4
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lxml==4.9.1
MarkupSafe==2.0.1
matplotlib==3.6.2
more-itertools==8.10.0
netifaces==0.11.0
numpy==1.23.5
oauthlib==3.2.0
packaging==21.3
pandas==1.5.2
pbr==0.11.1
pexpect==4.8.0
Phyme==0.0.9
Pillow==9.3.0
pluggy==1.0.0
ptyprocess==0.7.0
pyarrow==10.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.1
PyGObject==3.42.1
PyHamcrest==2.0.2
pyinstaller==5.6.2
pyinstaller-hooks-contrib==2022.13
PyJWT==2.4.0
pylance==0.2.6
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyrsistent==0.18.1
pyserial==3.5
pytest==7.2.0
python-apt==2.3.0+ubuntu2.1
python-dateutil==2.8.2
python-debian===0.1.43ubuntu1
python-docx==0.8.11
pytz==2022.1
PyYAML==5.4.1
requests==2.25.1
SecretStorage==3.3.1
service-identity==18.1.0
six==1.16.0
sos==4.3
ssh-import-id==5.11
systemd-python==234
tomli==2.0.1
Twisted==22.1.0
ubuntu-advantage-tools==27.9
ufw==0.36.1
unattended-upgrades==0.1
urllib3==1.26.5
wadllib==1.3.6
whichcraft==0.6.1
zipp==1.0.0
zope.event==4.5.0
zope.interface==5.4.0
